---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
import ModelsSection from "../components/ModelsSection.astro";
import ModelXSection from "../components/ModelXSection.astro";
import PowerWall from "../components/PowerWall.astro";
import ChargeSection from "../components/ChargeSection.astro";
import Model3 from "../components/Model3.astro";
---

<Layout>
	<Header />

	<!-- snap-y: slider vertical snap-mandatory: siempre acabar en un slide y no quedarse en la mitad -->

	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
	>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelsSection />
		</div>
		<div class="snap-center">
			<Model3 />
		</div>

		<div class="snap-center">
			<ModelXSection />
		</div>
		<div class="snap-center">
			<ModelYSection />
		</div>
		<div class="snap-center">
			<PowerWall />
		</div>

		<div class="snap-center">
			<ChargeSection />
		</div>
	</main>
</Layout>
