---
import Section from "./Section.astro";
---

<Section Title="Accesorios" showFooterContent="true" color="black">
    <div slot="footer" class="flex mx-auto gap-x-4">
        <a
            class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 transition-colors hover:bg-gray-500 hover:border-gray-500 hover:text-white inline-flex justify-center items-center"
            href="#"
        >
            Saber más
        </a>
    </div>
    <img
        slot="background"
        src="/accessories.avif"
        alt="Accesories"
        class="h-full w-full object-cover object-center"
    />
</Section>
