---
import Section from "./Section.astro";
---

<Section
    Title="Model 3"
    Subtitle="Programe una consulta virtual"
    color="black"
    id="model-3"
>
    <div slot="footer" class="flex mx-auto gap-x-4">
        <a
            class="bg-white text-sm rounded font-medium text-black px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
            href="#"
        >
            Saber más
        </a>
    </div>
    <img
        slot="background"
        src="/model-3.avif"
        alt="Model 3"
        class="h-full w-full object-cover object-center"
    />
</Section>
