---
import Section from "./Section.astro";
---

<Section Title="Solar y Powerwall" Subtitle="Energía para todos" color="black">
    <div slot="footer" class="flex mx-auto gap-x-4">
        <a
            class="bg-black text-sm rounded font-medium text-white px-12 py-2 transition-colors hover:bg-white hover:text-black inline-flex justify-center items-center"
            href="#"
        >
            Saber más
        </a>
    </div>
    <img
        slot="background"
        src="/powerwall.avif"
        alt="Powerwall"
        class="h-full w-full object-cover object-center"
    />
</Section>
